/* .container__auth {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	color: #000;
	height: 100vh;
	background: #fff;
}

.input__auth {
    margin: 15px;
}

.button_auth{
    width: 170px;
} */